<div class="card">
    <div class="card-body">
        <h1 class="card-title">Reset Password</h1>
        <p>Please Enter Your New Password</p>
      
        <form [formGroup]="resetPasswordForm"   (ngSubmit)="resetPassword(resetPasswordForm.value)">
            <!-- <input type="email" formControlName="Email" value="{{email}}"/>
            <input #text formControlName="Token" value="{{token}}"/>    -->
           <div class="mb-3 row">
            
              <input
                class="form__input"
                type="password"
                formControlName="Password"
                placeholder="New Password"
                [ngClass]="{ 'is-invalid': submitted && f['Password'].errors }"

                />
            <div *ngIf="submitted && f['Password'].errors" class="invalid-feedback">
            <div *ngIf="f['Password'].errors?.['required']">Password is required</div>
            <div *ngIf="f['Password'].errors?.['minlength']">
                Password must be at least 8 characters
            </div>
            <div *ngIf="f['Password'].errors?.['maxlength']">
                Password must not exceed 16 characters
            </div>

        <div *ngIf="f['Password'].errors?.['pattern']">
            Password must contain at least one number, one uppercase and a lowercase letter 
            and at least 1 special character<br>Password cannot contain whitespace
         </div>
         </div>

        </div>

    <div class="mb-3 row">
            
               <input
                  class="form__input"
                  type="password"
                  formControlName="confirmPassword"
                  placeholder="Confirm New Password"
                  [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                  />
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors?.['required']">Confirm Password</div>

               <div *ngIf="f['confirmPassword'].errors?.['notEqual']" >
                   Passwords does not match
              </div>
              </div>

             </div>

        

            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
