<div class="card">
    <div class="card-body">
        <h1 class="card-title">Forgot Password</h1>
        <p>Please Enter Your Email Address</p>
      
        <form [formGroup]="forgotPasswordForm"   (ngSubmit)="forgotPassword()">
            
          <div class="mb-3 row">
               <input
                 class="col-md-5"
                 type="email"
                 formControlName="Email"
                 placeholder="Email"
                 [ngClass]="{ 'is-invalid': submitted && f['Email'].errors }"
                 />
          <div *ngIf="submitted && f['Email'].errors" class="invalid-feedback">
          <div *ngIf="f['Email'].errors?.['required']">Email is required</div>

          <div *ngIf="f['Email'].errors?.['email']">
              Email Format is Invalid
          </div>
          </div> 
          
          </div>
          <p>We’ll send a verification code to this email if it matches an existing User account.</p>

            <br>
            <div class="mb-3 row">
                <div class="col-md-1">          
                    <button type="submit" class="btn">Submit</button>
                </div>
            </div>
            
        </form>
    </div>
</div>
